/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Transparency layer */
.transparency-layer {
    position: relative;
    background-image: url('mountain.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000; /* Change color of text to black */
}

.logo-container {
    position: absolute;
    top: -15px;
    left: 20px; /* Keep logo in left corner */
}

.user-container {
    position: absolute;
    top: 20px;
    right: 20px; /* Keep user profile in right corner */
}

.logo {
    height: 200px; /* Increased logo size */
}

.user-profile {
    width: 50px;
    border-radius: 50%; /* Rounded user profile picture */
}

.content-container {
    text-align: center;
    margin-top: 50px; /* Adjust top margin */
}

/* Operation section */
.operation-container {
    background-color: rgba(255, 255, 255, 0.2); /* Translucent white background */
    border-radius: 10px;
    padding: 20px;
    max-width: 600px; /* Limit width of container */
    margin-bottom: 20px;
}

.operation-container h1 {
    font-size: 48px; /* Increased font size for title */
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive; /* Fancy font for title */
    display: inline; /* Ensure Operation: Chill Out is on the same line */
}

/* About Us section */
.about-us-container {
    background-color: rgba(255, 255, 255, 0.2); /* Translucent white background */
    border-radius: 10px;
    padding: 20px;
    max-width: 600px; /* Limit width of container */
    margin-bottom: 20px; /* Increase bottom margin */
}

.about-us-container h2 {
    font-size: 24px; /* Increased font size for subtitle */
    margin-bottom: 10px;
}

/* Button */
.button {
    position: absolute;
    bottom: 50px; /* Adjust the distance from the bottom */
    left: 50%; /* Position in the middle horizontally */
    transform: translateX(-50%); /* Center horizontally */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1a68c4;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

/* Scan my face button */
.scan-button {
    position: absolute;
    bottom: 100px; /* Adjust the distance from the bottom */
    left: 50%; /* Position in the middle horizontally */
    transform: translateX(-50%); /* Center horizontally */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1a68c4;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
